<% img_url = @movie.frame.url %>
<% img_url.insert(img_url.rindex('image/upload/')+'image/upload/'.length,"w_1280,h_350,c_fill,g_auto/") %>
<% gradient_str = "-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1) 100%)"  %>

<%= render 'layouts/banner', banner_type: 'high-banner', img_url: img_url, gradient: gradient_str %>
<!-- <div class="wide-container"> -->

  <div class="title-wrapper">
    <h1>CineFriends for <span style="display:inline-block; width: 1em;"></span><strong><%= @movie.title %></strong></h1>
  </div>
  <div class="main-container">
    <div id="poster-container" class= "vert-padded" >
      <div class="cardfilm-large">
        <% if @movie.poster.file.nil? %>
          <div class="empty-poster">
            <p>-- No picture --</p>
          </div>
        <% else %>
          <div class="poster">
            <%= cl_image_tag @movie.poster, height: 450, width: 300 %>
          </div>
        <% end %>

        <div class="movie-label">
          <div class="film-name-large">
            <h2><%= @movie.title %></h2>
            </div>
          <div class="film-director-large"><%= "#{@movie.director}" %></div>
        </div>
      </div>
    </div>

    <div id="postings-container">
      <% if @postings.nil? || @postings.empty? %>
        <div class="post-button-container">
          <h1>Seems no one is going yet... </h1>
          <%= link_to "Post me for this movie!", "#", class: "btn btn-md" %>
        </div>
      <% else %>
        <div class="row">
          <% @postings.each do |posting| %>
            <div class="col-xs-12 col-sm-6 vert-padded">
              <div class="card-wrapper">
                <div class="carduser">
                  <div class="cardimageuser", style="background-image: url(<%= posting.user.photo.url %>);">
                  </div>
                    <div class="card-info1user">
                      <%= posting.user.first_name %>
                    </div>
                    <div class="card-info2user">
                      <span class="glyphicon glyphicon-calendar "></span>  <%= Date.today.year == posting.show.date.year ? posting.show.date.strftime("%-d %B") : posting.show.date.strftime("%-d %B %Y")%> <span class="glyphicon glyphicon-time "></span>   <%= posting.show.time.strftime("%-H:%M") %>
                    </div>
                    <div class="card-info3user">
                      <%= posting.show.theater.name %>
                    </div>
                    <%= link_to posting_pairings_path(posting), method: :post do %>
                      <div class="btnadduser grow"></div>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  <!-- </div> -->
</div>
