<div class="dashboard-container"> <!-- 1 -->

  <div id="cal-container" class="full-padded" style="border: solid blue 2px;"> <!-- 3 -->
    <% if @user.photo.file.nil? %>
    <div class="empty-picture-small"">
      <p>-- No picture --</p>
    </div>
    <% else %>
    <div class="user-photo text-center">
      <%= cl_image_tag @user.photo, height: 100, width: 75, crop: :fill %>
    </div>
    <% end %>
    <div id='cal-background'>
      <div class="simple-calendar">
        <%= month_calendar(attribute: :show_date, events: @pairings) do |date, pairings| %>

          <%= date.day %>

          <% pairings.each do |pairing| %>
            <% case pairing.status %>
              <% when "pending" %>
              p
                  <i class="fas fa-square" style="color: orange;"></i>
              <% when "accepted" %>
              a
                <i class="fas fa-square" style="color: green;"></i>
              <% when "declined" %>
              d
                <i class="fas fa-square" style="color: gray;"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div> <!-- 3 -->
  <!-- <div class="main-container full-padded" style="border: solid white 2px;"> --> <!-- 2 -->
    <div class="show-container" style="flex: 1 0 auto; border: solid orange 2px;"> <!-- 4 -->
      <div class="pairings" style="border: solid green 2px;">
        <h1>Confirmed CineFriends</h1>
        <% @pairings.each do |pairing| %>
          <div class="card-wrapper">
            <div class="carduser">
              <div class="cardimageuser", style="background-image: url(<%= pairing.user.photo.url %>);">
              </div>
                <div class="card-info1user">
                  <%= pairing.user.first_name %>
                </div>
            </div>
          </div>
          <div>
            <% case pairing.status #"#"%>
              <% when "pending" %>
                <div class="div-booking-status pending">
                <div>
                  <%= pairing.status.capitalize%></div>
                  <div style="margin: 10px;">
                    <%= link_to "Accept", "#", class: "btn-sm btn-success" %>
                    <%= link_to "Decline", "#", class: "btn-sm btn-danger" %>
                  </div>
                </div>
              <% when "accepted" %>
                <div class="div-booking-status accepted">
                <div>
                  <%= pairing.status.capitalize%></div>
                  <div style="margin: 10px;">
                    <%= link_to "Cancel", "#", class: "btn-sm btn-danger" %>
                  </div>
                </div>
              <% when "declined" %>
                <div class="div-booking-status declined">
                <div>
                  <%= pairing.status.capitalize%></div>
                  <div style="margin: 10px;">
                    <%= link_to "Accept", "#", class: "btn-sm btn-success" %>
                  </div>
                </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="unmatched-postings" style="border: solid red 2px;">
        <h1>Your postings</h1>
        <% @unmatched_postings.each do |posting| %>
            <% show = posting.show  %>
            <div class="posting" style="display: flex; justify-content: space-around; padding: 15px; margin: 15px; position: relative; background-color: #e0e0e0;border-radius: 15px;border: solid red 2px;">
              <div style="width: 250px; text-align: center; border: solid red 2px;" >
                <%# link_to posting_path(posting) do %>
                  <h4 style="font-family: $body-font !important"><%= show.movie.title %></h4>
                  <div class="thumb-wrapper">
                    <% if show.movie.poster.nil? %>
                      <div class="empty-thumbnail">
                        <p>-- No picture --</p>
                      </div>
                    <% else %>
                      <%= cl_image_tag show.movie.poster, height: 200, width: 133 %>
                    <% end %>
                  </div>
                <%# end %>
                <div style="margin: 10px;">
                  <%= link_to "Edit posting", "#", class: "btn-sm" %>
                  <%= link_to "Remove posting", posting_path(posting), class: "btn-sm btn-danger", method: :delete %>
                </div>
              </div>


      </div>
          <% end %>
    </div> <!-- 4 -->
  <!-- </div> -->  <!-- 2 -->
</div>  <!-- 1 -->
