<% gradient_str = "-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.9) 90%, rgba(0, 0, 0, 1) 100%)"  %>
<%= render 'layouts/banner', banner_type: 'high-banner', img_url: image_path("film-roll.jpeg"), gradient: gradient_str %>


<div class="movie-title-wrapper">
  <h1><%= @user.first_name.possessive %> Profile</h1>
</div>

<div class="container">
  <div class="container-all">

    <div class="col-left">
      <% if @user.facebook_picture_url %>
        <div class="user-profile-photo">
          <%= cl_image_tag @user.facebook_picture_url, height: 250, width: 250, crop: :fill, radius: 0 %>
        </div>
      <% elsif %>
        <div class="user-profile-photo">
          <%= cl_image_tag @user.photo, height: 200, width: 200, crop: :fill, radius: 0%>
        </div>
      <% else %>
        <div class="empty-picture"">
          <p>-- No picture --</p>
        </div>
      <% end %>

      <br>

      <div class="personal-info">
        <p><strong>City </strong><span class="glyphicon glyphicon-map-marker"></span></p>
        <div><%= @user.city %></div>
      </div>
      <br>
      <div class="movie-info">
        <p><strong>Favorite Films </strong><span class="glyphicon glyphicon-facetime-video "></span></p>
        <% @user.favmovies.each do |favmovie| %>
          <div><%=favmovie.title %></div>
        <% end %>
      </div>
      <br>
      <div class="director-info">
        <p><strong>Favorite Directors </strong><span class="glyphicon glyphicon-user"></span></p>
        <% @user.favdirectors.each do |favdirector| %>
          <div><%=favdirector.name %></div>
        <% end %>
      </div>
      <%= link_to "Edit profile", edit_user_path, class: "btn-sm-default" %>

    </div>

    <div class="col-right">
      <h3>"<%= @user.fav_quote %>"</h3>
      <br>
      <h4>About <%= @user.first_name%>...</h4>
      <p><%= @user.about_me %></p>
      <h3><%= @user.first_name %>'s Previous Cinefriends Pairings</h3>
      <div class="posting-info">
      <% @user.postings.each do |posting| %>
        <div class="movie-poster">
          <%= cl_image_tag posting.show.movie.poster, height: 220, width: 140, crop: :fill, :gravity=>"auto" %>
        <li><%=posting.show.movie.title %></li>
        <li><%=posting.show.theater.name %></li>
        <li><%=posting.show.date %></li>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <br>
    <div class="btn-group" role="group">
    <%= link_to "Back to Search Results", :back, class: "btn-back" %>

    </div>
</div>
