<div class="container">
  <h1 class="text-center">Pick your show</h1>
  <br>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <%= form_tag billboard_path, method: :get do %>
        <div class="col-xs-9">
          <div class="form-group">
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Title, director, theater, location..." %>
          </div>
        </div>
        <div class="col-xs-3">
          <%= submit_tag 'Search', name: nil, class: "btn btn-search btn-block" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <!-- <div> -->
    <% unless @movies.nil? || @movies.empty? %>
      <%= render 'film_grid', movies: @movies %>
    <% else %>
      <% unless @local_movies.nil? || @local_movies .empty? %>
        <div><h1>Near you</h1></div>
        <%= render 'film_grid', movies: @local_movies[0..3]  %>
      <% end %>
      <% unless @fav_movies.nil? || @fav_movies .empty? %>
        <div><h1>Favorite films</h1></div>
        <%= render 'film_grid', movies: @fav_movies[0..3]  %>
      <% end %>
      <% unless @fav_dir_movies.nil? || @fav_dir_movies .empty? %>
        <div><h1>From favorite directors</h1></div>
        <%= render 'film_grid', movies: @fav_dir_movies[0..3]  %>
      <% end %>
    <% end %>
  <!-- </div>
  <div id="map"></div> -->
</div>

