
<div class="container">

  <% @pairing.posting.show.movie.shows %>

  <div class="col-xs-12 col-sm-6 full-padded">
    <div class="card-wrapper">
      <div class="carduserpairing">
       <div class = "cardimageuserpairing">
        <%= image_tag @pairing.posting.user.photo.url,:class => "style_image" %>
        <%= image_tag @pairing.user.photo.url, :class => "style_image"%>
      </div>

      <div class="card-info1user">
        <p><%= @pairing.posting.user.first_name %> & <%= @pairing.user.first_name %></p>
      </div>
      <div class="card-info2user">
        <span class="glyphicon glyphicon-calendar "></span>  <%= Date.today.year == @pairing.posting.show.date.year ? @pairing.posting.show.date.strftime("%-d %B") : @pairing.posting.show.date.strftime("%-d %B %Y")%> <span class="glyphicon glyphicon-time "></span>   <%= @pairing.posting.show.time.strftime("%-H:%M") %>
      </div>
      <div class="card-info3user">
        <%= @pairing.posting.show.theater.name %>
      </div>
    </div>
  </div>
</div>



<div class="col-xs-12 col-sm-6">
  <div class="messagebox">
    <h1>Contact your CineFriend</h1>

    <%= simple_form_for [@pairing, @message] do |f| %>
    <div class="form-inputs">
      <%= f.input :content,required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send" %>
    </div>
    <% end %>
    <% @messages.each do |message| %>
    <h2>Your sent messages:</h2>
    <p><%= message.user.first_name %> says... </p>
    <p><%= message.content %></p>
    <% end %>
  </div>
</div>



</div>




