<% gradient_str = "-webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0.9) 90%, rgba(0, 0, 0, 1) 100%)"  %>
<%= render 'layouts/banner', banner_type: 'high-banner', img_url: image_path("arcadia.jpg"), gradient: gradient_str %>
<div class="container">

  <div class="movie-title-wrapper">
    <h1>Your Pairing For <span style="display:inline-block;"></span><strong><%=@pairing.posting.show.movie.title %></strong></h1>
  </div>

  <div class="col-xs-12 col-sm-6 full-padded">
    <div class="user-card-wrapper">
      <div class="carduserpairing", style="background-image: url(<%= image_path("film-strip.jpeg") %>);">
       <div class = "cardimageuserpairing">
        <%= image_tag @pairing.posting.user.photo.url,:class => "style_image" %>
        <% profile_url = @pairing.user.photo.url || @pairing.user.facebook_picture_url.split("=")[0] << "=large"%>
        <%= image_tag profile_url,:class => "style_image"%>
      </div>

      <div class="card-info1user">
        <p><%= @pairing.posting.user.first_name %>& <%= @pairing.user.first_name %></p>
      </div>
      <div class="card-info2user">
        <span class="glyphicon glyphicon-time "></span>   <%= @pairing.posting.show.time.strftime("%-H:%M") %>
      </div>
      <div class="card-info3user">
        <span class="glyphicon glyphicon-calendar "></span>  <%= Date.today.year == @pairing.posting.show.date.year ? @pairing.posting.show.date.strftime("%-d %B") : @pairing.posting.show.date.strftime("%-d %B %Y")%>
      </div>
      <div class="card-info4user"><span class="glyphicon glyphicon-facetime-video "></span>
        <%= @pairing.posting.show.theater.name %>
      </div>
    </div>
  </div>
</div>



<div class="col-xs-12 col-sm-6">
  <div class="messagebox">
    <h4>Say hello to <%=@pairing.posting.user.first_name %></h4>

    <%= simple_form_for [@pairing, @message] do |f| %>
    <div class="form-inputs">
      <%= f.input :content, :label => 'Your Message', :input_html => { :rows => 5 },required: true, placeholder:"Tell your CineFriend why you are excited to see the film and what time you would lik to meet in front of the theater." %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send", class: "btn-form" %>
    </div>
    <% end %>
    <% @messages.each do |message| %>
    <h2>Your sent messages:</h2>
    <p><%= message.user.first_name %> says... </p>
    <p><%= message.content %></p>
    <% end %>
  </div>
</div>

</div>
  <div class="container-map">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>
